<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5 pl-5">
            <h2 class="text-center">Creat An Account</h2>
        </div>
        <form action="/sighnup" method="POST">
            <div class="form-grop">
                <label for="">Name</label>
                <input type="text" class="form-control" name="Name" placeholder="Enter Name">
            </div>
            <div class="form-grop">
                <label for="">Email Address</label>
                <input type="email" class="form-control" name="Email" placeholder="Enter Email">
            </div>
                <div class="form-grop">
                <label for="">Password</label>
                <input type="password" class="form-control" name="Password" placeholder="Password">
            </div>
            <a href="/">Already Have An Account</a>
            <button type="submit" class="btn btn-primary mt-3 float-right">Sighnup</button>

        </form>


    </div>
</div>