
    <section>
        <div class="container mt-5">
            <div class="row text-center">
                {{#each product}}
                <div class=" m-2">
                    <div class="card" style="width: 16rem;">
                        <img class="card-img-top" src="/product-images/{{this._id}}.jpg" 
                        style="height: 10rem;"
                        alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">{{this.Name}}</h5>
                            <p class="card-text">{{this.Price}}</p>
                            <a href="#" class="btn btn-primary">Add Cart</a>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
    </section>