<section>
    <div class="container">
      <div class="row mt-3">
        <a href="/admin/product" class="btn btn-success ml-auto">Add Product</a>
        </div>
        <table class="table mt-3">
  <thead >
    <tr>
      <th scope="col">Sl No</th>
      <th scope="col">Product</th>
      <th scope="col">Discription</th>
      <th scope="col">imag</th>
    </tr>
  </thead>
  <tbody>
      {{#each product}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td>{{this.name}}</td>
      <td>{{this.description}}</td>
      <td><img src="{{this.image}}" style="width: 50px; hight: 50px;" alt=""></td>
    </tr>
    {{/each}}
  </tbody>
</table>
    </div>
</section>